# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RealTimeMeshEditing.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\batuh\Desktop\RealTimeMeshEditing\.idea\.idea.RealTimeMeshEditing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
